<h1>Home page</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel accusantium
  laborum culpa minus nisi omnis quidem magni possimus adipisci fugit minima
  inventore fugiat deserunt, quis excepturi ea obcaecati expedita. Est!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel accusantium
  laborum culpa minus nisi omnis quidem magni possimus adipisci fugit minima
  inventore fugiat deserunt, quis excepturi ea obcaecati expedita. Est!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel accusantium
  laborum culpa minus nisi omnis quidem magni possimus adipisci fugit minima
  inventore fugiat deserunt, quis excepturi ea obcaecati expedita. Est!
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel accusantium
  laborum culpa minus nisi omnis quidem magni possimus adipisci fugit minima
  inventore fugiat deserunt, quis excepturi ea obcaecati expedita. Est!
</p>

<button class="btn-click btn btn-primary">Click</button>